{
  "API_TELEGRAM": "PASTE_APIKEY_HERE",
  "ID_CHANNEL": "ID_MAIN_CHANNEL_DISCUSSION",
  "USERNAME_CHANNEL": "@username_main_channel",
  "OWNER": [
    OWNER_ID,
    ...
  ],
  "MAINTENANCE": false,
  "MAINTENANCE_WHITELIST": [],
  "DONATE_LINK": "https://sociabuzz.com/...",
  "CLIENT_ID": "YOUR_CLIENT_ID_GDRIVE",
  "CLIENT_SECRET": "YOUR_CLIENT_SECRET_GDRIVE",
  "REDIRECT_URI": "https://developers.google.com/oauthplayground",
  "REFRESH_TOKEN": "YOUR_REFRESH_TOKEN_GDRIVE",
  "RECEIVE_MESSAGE": true,
  "BLACKLIST_WORDS": [ AUTOMATICALLY_DELETE_MESSAGE_CONTAINED_IN_THIS_LIST ]
}